{% extends "base.html" %}
{% load static from static %}

{% block content %}
<!-- Banner -->
    <div class="banner-container">
        <div class="slideshow-container">
            {% for banner in background %}
            <section id="banner" class="{{ banner.html_class }}" style='background-position: center; background-image: url("{{ banner.thumb.url }}"); '>
                <div class="content">
                    <header id="slideshow">
                        <div><h2>{{ banner.title }}</h2></div>
                    </header>
                </div>
                <a href="#two" class="goto-next scrolly">Next</a>
            </section>
            {% endfor %}
        </div>
    </div>

<!-- Two -->
    <section id="two" class="spotlight style2 right" style='background-position: center; background-image: url("{{ images.0.thumb.url }}");'>
        <span class="image fit main"><img src="{{ images.0.thumb.url }}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Renders exteriores</h2>
                <p>___________</p>
            </header>
            <p>Renders exteriores modelados con SketchUp o Revit hasta el más mínimo detalle, y renderizados con Lumion o V-ray. Luego son procesados en Photoshop, y reciben el toque final con Lightroom, obteniendo renders hiperrealistas.</p>
            <!--TODO: change text-->
        </div>
        <a href="#three" class="goto-next scrolly">Next</a>
    </section>

<!-- Three -->
    <section id="three" class="spotlight style3 left" style='background-position: center; background-image: url("{{ images.1.thumb.url }}");'>
        <span class="image fit main bottom"><img src="{{ images.1.thumb.url }}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Renders interiores</h2>
                <p>___________</p>
            </header>
            <p>Para los renders interiores, ya que requieren mayor nivel de detalle, se sugiere utilizar SketchUp, ya que cuenta con una interfaz más maleable, y donde se pueden modelar hasta los detalles más imperceptibles.</p>
            <!--TODO: change text-->
        </div>
        <a href="#four" class="goto-next scrolly">Next</a>
    </section>

<!-- Two -->
    <section id="four" class="spotlight style4 right" style='background-position: center; background-image: url("{{ images.2.thumb.url }}");'>
        <span class="image fit main"><img src="{{ images.2.thumb.url }}" alt="" /></span>
        <div class="content">
            <header>
                <h2>Fotomontajes</h2>
                <p>___________</p>
            </header>
            <p>Con la herramienta de fotomontaje de Lumion, luego de un extenso modelado a detalle en Revit o SketchUp, se pueden obtener fotomontajes que permiten visualizar la obra como si estuviera terminada. Con un trabajo posterior en Photoshop y Lightroom, los renders quedan listos para presentarse.</p>
            <!--TODO: change text-->
        </div>
        <a href="#contact" class="goto-next scrolly">Next</a>
    </section>


<!-- Contact -->
    <section id="contact" class="main style3 secondary">
        <div class="content">
            <header>
                <h2>Contacto</h2>
            </header>
            <div class="box">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="fields">
                        <div class="field-half"><input type="text" name="name" placeholder="Nombre" /></div>
                        <div class="field-half"><input type="email" name="email" placeholder="Email" /></div>
                        <div class="field"><textarea name="message" placeholder="Mensaje" rows="6" style="resize: none;"></textarea></div>
                    </div>
                    <ul class="actions special">
                        <li><input type="submit" value="Enviar mensaje" /></li>
                    </ul>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}